.env
.env.production
.venv
__pycache__
google_api_credentials.json
gcal_token.json
gmail_token.json
openapi_assistants.json
openai_memgpt.json
output.mp3
human.txt
security_newsletter.log
build/
dist/
tasks.json
*.db
credentials
app.log