OPENAI_API_KEY = ""
ELEVENLABS_API_KEY = ""
TWILIO_ACCOUNT_SID = 
TWILIO_AUTH_TOKEN = 
TWILIO_FROM_NUMBER = +447
USER1_NAME = ""
USER2_NAME = ""
USER1_PHONE_NUMBER = +447
USER2_PHONE_NUMBER = +447
SERPAPI_API_KEY = ""
GOOGLE_API_KEY = ""
USER_EMAIL = "your_email@gmail.com"
USER_PASSWORD = ""
SMTP_SERVER = "smtp.google.com"
SMTP_PORT = 587
EMAIL_RECIPIENTS = "your_email@google.com"
FIRECRAWL_API_KEY = ""
SPOTIFY_CLIENT_ID = ""
SPOTIFY_CLIENT_SECRET = ""