pymemgpt
SpeechRecognition
python-dotenv
openai
pygame
#PyAudio
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
twilio
Flask
flask-cors
aiohttp
aiohttp_cors
websockets
fastapi
python-multipart
uvicorn
elevenlabs
feedparser
schedule
PyPDF2
homeassistant_api
bcrypt
cryptography
python-jose
SQLAlchemy
passlib
serpapi
APScheduler
docker